/node_modules/

/dist/
/dist-ssr/
/ssr-manifest.json

.env
.env.*.local

/.vite

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace

/coverage/

.history/

.Trashes

Thumbs.db
